<li class="active">
	<a href="<%= tickets_path %>"> <i class="fa fa-ticket"></i> <span>Tickets</span> </a>
</li>
<li>
	<a href="<%= user_groups_path %>"><i class="fa fa-users"></i> <span>Groups</span></a>
</li>
<li>
	<a href="<%= organizations_path %>"><i class="fa fa-gear"></i> <span>Organization</span></a>
</li>
<li>
	<a href="<%= purchases_path %>"><i class="fa fa-inr"></i> <span>Purchases</span></a>
</li>