<h1>Listing organizations</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, edit_organization_path(organization) %></td>
        <td><%= link_to raw('<i class="fa  fa-trash-o"></i>'), organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Organization', new_organization_path, :class=>"btn btn-primary btn-sm" %>
