<h1>Listing Admins</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @admins.each do |admin| %>
			<tr>
				<td> <%= link_to admin.name, edit_admin_path(admin) %> </td>
				<td><%= link_to admin.email, edit_admin_path(admin) %></td>
				<td><%= link_to raw('<i class="fa  fa-trash-o"></i>'), admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<br>

<%= link_to 'New Admin', new_admin_path, :class=>"btn btn-primary btn-sm" %>
