<h1>Listing products</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
				<th>Name</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @products.each do |product| %>
			<tr>
				<td><%= link_to product.name, edit_product_path(product) %></td>
				<td><%= link_to raw('<i class="fa  fa-trash-o"></i>'), product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>

<br>

<%= link_to 'New Product', new_product_path %>

