<h1>Editing Support</h1>
<%= render(:partial => '/foswipe/users/form', :locals => {:user => @support, :user_path => support_path(@support), :organization => false }) %>
<%= link_to 'Back', supports_path %>
