<h1>Listing supports</h1>

<div class="table-responsive">
	<table class="table table-bordered table-striped">
		<thead>
			<tr bgcolor="#1E90FF">
				<th>Name</th>
				<th>Email</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @supports.each do |support| %>
			<tr>
				<td> <%= link_to support.name, edit_support_path(support) %> </td>
				<td><%= link_to support.email, edit_support_path(support) %></td>
				<td><%= link_to raw('<i class="fa  fa-trash-o"></i>'), support_path(support), method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
<br>

<%= link_to 'New support', new_support_path, :class=>"btn btn-primary btn-sm" %>
