

<div class="">
	<h1>New Agent</h1>
	<%= render(:partial => '/foswipe/users/form', :locals => {:user => @support, :user_path => supports_path, :organization => false }) %>
	<%= link_to 'Back', supports_path %>
</div>
