<div class="bs-example">
	<div class="panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading">
			<b>Purchase Details</b>
		</div>
		<li class="list-group-item">
			<div class="col-md-4" ></div>
			<div class="field">
				<div class="row">
			<div class="col-md-4" >

<p>
  <strong>Name:</strong>
  <%= @purchase.name %>
</p>


</div>
</div>
</div>
</li>
</div>
</div>


<%= link_to 'Back', admin_purchases_path %>